section.achieve 
  .achieve__container
    ul.achieve__list
      li.achieve__item
        i.icon-apple
        h1.achieve__item_title 
        i.icon-users
        i.icon-bookmark
        i.icon-heart
          
