section.achieve 
  .achieve__container
    ul.achieve__list
      li.achieve__item
        .achieve__content
          i.icon-apple.achieve__icon
          h1.achieve__item_title 250K
          span.achieve__item_line App Download
      li.achieve__item
        .achieve__content
          i.icon-users.achieve__icon
          h1.achieve__item_title 100K
          span.achieve__item_line Active Users
      li.achieve__item
        .achieve__content
          i.icon-bookmark.achieve__icon
          h1.achieve__item_title 20+
          span.achieve__item_line Best Awards
      li.achieve__item
        .achieve__content
          i.icon-heart.achieve__icon
          h1.achieve__item_title 95%
          span.achieve__item_line Happy Users
        
          
