section.feedback
  .container
    h3.feedback__title Client's Feedback
    p.feedback__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum minima est laboriosam saepe veniam fuga qui ullam harum ea maiores.

    ul.feedback__list
      li.feedback__item
        img.feedback__img(src="img/clients/client1.jpg", alt="")
        h3.feedback__name Robert Colin
        div.feedback__place Repto inc.

        p.feedback__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque perspiciatis soluta rem ab expedita! Recusandae culpa corrupti iusto vero modi impedit soluta, quasi error? Doloribus explicabo necessitatibus fugiat id provident.

        div.feedback__rating 