section.overview
    .container
        .overview__inner
            .overview__block
                .overview__block-icon
                    img.overview__icon(src="img/overview/1.jpg", alt="")
                h1.overview__title Clean Design
                p.overview__desc
                    | Lorem has survived not only five top centuries, but also the leap intoelect typesetting changed.
            .overview__block
                .overview__block-icon
                    img.overview__icon(src="img/overview/2.jpg", alt="")
                h1.overview__title User Friendly
                p.overview__desc
                    | Lorem has survived not only five top centuries, but also the leap intoelect typesetting changed.
            .overview__block
                .overview__block-icon
                    img.overview__icon(src="img/overview/3.jpg", alt="")
                h1.overview__title Easy to Use
                p.overview__desc
                    | Lorem has survived not only five top centuries, but also the leap intoelect typesetting changed.
            .overview__block
                .overview__block-icon
                    img.overview__icon(src="img/overview/4.jpg", alt="")
                h1.overview__title Branding
                p.overview__desc
                    | Lorem has survived not only five top centuries, but also the leap intoelect typesetting changed.
