section.pricing 
.conreiner
h1.pricing_hero 
    | Pricing 
    span Table
p.pricing_text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati earum ratione sed.
button.botton 
    |Month 
    span.spin Year
ul.pricing_list
    li.pricing_item
    h1.pricing_logo Lorem ipsum dolor sit amet.














